.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-baackground-size: cover;
    background-size: cover; 
    position: absolute;
}

.carousel-caption {
    bottom: 50vh !important;
}

.carousel-caption h5{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top:25px;
}
.carousel-caption .btn {
    margin: 20px;
    padding: 20px;
    border-radius: 30%;
    background: #F75A4C;
}


.navbar-light .nav-link{
    text-transform: uppercase;
    color: #ffffff !important; 
    font-size: 15px;
    margin-left: 20px;
}

.navbar-light .navbar-brand{
    color: #ffffff !important;
    font-size: 30px;
    letter-spacing: 1px;
}
/* 
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #f75a4c !important; 
} */

.nav-link:active, .nav-link:hover {
    color: #F75A4C !important;
}