.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-baackground-size: cover;
    background-size: cover; 
    position: absolute;
}

.carousel-caption {
    position: absolute;
    bottom: 400px;
}

.carousel-caption h5{
    font-size: 50px;
    letter-spacing: 2px;
    margin-top:25px;
}

.navbar{
    
}